.git
.github
.gitignore

.vscode
.idea

*.log
*.tmp
*.out
*.exe

coverage.out
coverage.html

bin
dist
tmp
.gocache*
frontend/node_modules
frontend/dist
frontend/coverage
frontend/.angular
frontend/playwright-report
frontend/test-results

README.md
